@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}